@media only screen and (max-width:900px) {
    #navbar-blog .logo {
        padding: 1rem;
        display: flex;
        width: auto;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
    }

    #navbar-blog .search_box {
        width: 70%;
    }

    #navbar-blog .search_bar {
        width: 100%;
        font-size: 0.8rem;
        padding-left: 3rem;
    }

    #navbar-blog .search_box span {
        font-size: 40px;
        padding: 0.5rem;
    }

    #blog {
        padding: 2.5rem 1rem 1rem;
    }

    #blog h2 {
        font-size: 2.9rem;
        padding-left: 1rem;
    }

    #blog .person {
        display: flex;
        flex-direction: row;
        margin-top: 1rem;
        align-items: flex-start;
        padding: 0 1rem;
    }

    #blog .person-details {
        display: flex;
        flex-direction: row;
    }

    #blog .person-details .top svg {
        display: none;
    }

    #blog .top {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #blog .person-details img {
        width: 4.7rem;
    }

    #blog .top p {
        font-size: 1.2rem;
    }

    #blog .top span {
        font-size: 1rem;
    }

    #blog .context .img1 {
        padding: 2rem 0 1rem;
    }

    #blog .context .img2 {
        padding: 1rem 0;
        gap: 1rem;
    }

    #blog .context p {
        font-size: 1.1rem;
    }

    #bottom.bottom-container {
        padding: 3rem 2rem;
    }

    #bottom .person-follow {
        display: flex;
        flex-direction: column;
        gap: 1rem;

    }

    #bottom .person-activity {
        padding: 2rem 0 0 0;
    }

    #blog .share {
        width: auto;
        height: 5rem;
        padding: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem;
    }

    #blog .share span {
        font-size: 2.4rem;
    }

    #blog .comment {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.2rem;
        margin-top: 2.5rem;
        padding: 0 1rem;
    }

    #blog .comment .name {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    #blog .comment .name input {
        width: 100%;
        height: 2.5rem;
        border: 2px solid #000;
        font-size: 0.8rem;
        padding: 1rem;

    }

    #blog .comment textarea {
        height: 6rem;
        border: 2px solid #000;
        padding: 0.5rem;
        font-size: 0.8rem;
    }

    #blog .comment button {
        width: 7rem;
        height: 3rem;
        font-size: 1.4rem;
        font-weight: 500;
    }

    #bottom .person-container {
        align-items: center;
        padding-bottom: 0.8rem;
    }

    #bottom .person-container img {
        width: 9rem;
    }

    #bottom .person-follow p {
        font-size: 2rem;
    }

    #bottom .activities {
        display: flex;
        flex-direction: column;
        padding: 2rem 0 0 0;
        gap: 1rem;
    }

    #bottom .activity-details {
        flex-direction: row;
        justify-content: space-between;
    }

    #bottom .person-activity h4 {
        font-size: 1.5rem;
    }

    #bottom .person-follow .follow {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #bottom .activity-details .react {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        justify-content: center;
    }

    #bottom .activity-details .reacts {
        gap: 1rem;
    }

    #bottom .activity-details .react #icon {
        font-size: 2.5rem;
    }

    #bottom .person-follow button {
        width: 80%;
        height: 4rem;
    }

    #bottom .btn_all {
        padding: 2rem 0 0 0;
        display: flex;
        justify-content: center;
    }

    #bottom .btn_all button {
        width: 50vw;
        font-size: 4vw;
    }

    #blogs-top .top-container {
        padding: 2rem;
    }

    #blogs-top .top-container .upper {
        height: 6rem;
    }

    #blogs-top .top-container .upper button {
        width: 50%;
        height: 65%;
        font-size: 1.3rem;
    }

    #blogs-top .top-container .adiguru-blogs .top h2 {
        font-size: 2.5rem;
    }

    #blogs-top .top-container .adiguru-blogs .bottom .list ul {
        flex-direction: column;
        gap: 1rem;

    }
    #blogs-top .top-container .adiguru-blogs .bottom .list a{
        font-size: 1.2rem;
    }
    #blogs-top .top-container .adiguru-blogs .bottom{
        padding: 0;
    }
    #blogs-top .top-container .adiguru-blogs .bottom .social-icons {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-top: auto;
    }

    #blogs-top .top-container .adiguru-blogs .bottom .social-icons a {
        font-size: 1.5rem;
    }

    #blogs-container .blogs-container {
        display: flex;
        flex-direction: column;
    }
    #blogs-container .cont .blogs{
        margin: 0;
    }
    #blogs-container .blogs-container .cont {
        width: 100%;
        padding: 2rem;
    }

    #explore .explore-container {
        padding: 2rem 2rem;
        text-align: center;
        gap: 0;
    }
    #explore .explore-container .more-blogs-container{
        padding-bottom: 3rem;
    }
    #explore .explore-container .more-blogs-container .more-blogs {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 1.5rem 0;
    }
    #explore .more-blogs-container .more-blogs .text-container p{
        font-size: 4vw;
    }
    #explore .more-blogs-container .more-blogs .text-container .post-details {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #explore .explore-container .more-blogs-container .more-blogs img {
        width: 100%;
    }
    #explore .more-blogs-container .more-blogs .text-container h5{
        font-size: 8vw;
    }
    #explore .explore-container h3 {
        font-size: 4rem;
    }

    #explore .more-blogs-container .more-blogs .text-container {
        padding: 0;
    }

    #explore .more-blogs .text-container .post-details .staff-dp {
        width: 7rem;
    }
    #explore .post-details .staff-text h6{
        font-size: 4vw;
    }
    #explore .post-details .staff-text{
        padding: 0;
    }
    #blogs-bottom .blogs-bottom h5 {
        text-align: center;
        font-size: 3vw;
    }



    #contact .contact {
        display: flex;
        flex-direction: column;
        margin: 2rem 0;
        width: 80%;
    }

    #contact .box {
        width: 100%;
    }

    #contact .background-image {

        width: 100%;
        height: 50%;
        background-size: cover;
        background-repeat: no-repeat;
    }

    #contact .box1 h5 {
        padding: 1rem;
    }

    #contact .box1 .sent_msg {
        padding: 2rem;
    }

    #contact .box1 .box1-bottom img {
        width: 50%;
    }

    #contact .box1 .box1-bottom button {
        height: 2.5rem;
        width: 6rem;
    }

    #contact .box2 .info-container {
        height: auto;
    }

}