@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marko+One&display=swap');
/* font-family: 'Marko One', serif; */
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --primary_color: #FF5C00;
}

body {
    font-family: 'Poppins', sans-serif;

}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 13vh;
    width: 100%;
    padding: 0 2rem;
    /* background-color: lightblue;q */
}

#navbar .logo {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 8px;
}

#navbar .content {
    flex: 4;
    display: flex;
    justify-content: center;
    gap: 15px;
}

#navbar .btns {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

#navbar .logo .img img {
    height: 50px;
}

#navbar .brand {
    font-size: 2.6rem;
    color: var(--primary_color);
}


/* Style the navbar */
nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
}

nav a span {
    transition: .4s ease;
}

nav a:hover span {
    transform: rotate(180deg);
}

/* Style the dropdown menu */
.dropdown-content {
    height: 0;
    position: absolute;
    border: 1px solid rgb(226, 226, 226);
    background-color: white;
    transition: .5s ease;
    display: flex;
    flex-direction: column;
    opacity: 0;
    z-index: 1;
    overflow: hidden;
    align-items: flex-start;
}

.dropdown-content:hover+a>span {
    transform: rotate(180deg);
}

.dropdown:hover .dropdown-content {
    opacity: 1;
    height: fit-content;
}

.dropdown-content li:hover {
    background-color: white;
    border-radius: 2px;
}

.dropdown-content li {
    padding: 5px 10px;
    /* background-color: rgb(235, 235, 235); */
    margin-bottom: 2px;
}

.search_box {
    position: relative;
}

.search_box span {
    position: absolute;
    top: 50%;
    left: 5px;
    color: rgb(92, 92, 92);
    transform: translateY(-50%);
}

.search_bar {
    padding: 10px 12px 10px 30px;
    border: 1px solid rgb(97, 97, 97);
    outline: none;
}

.container {
    height: 89vh;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 5rem;

}

.col {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.col h1 {
    /* width: 687px; */
    color: #000;
    font-family: Athelas;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.col p {
    /* width: 508px; */
    color: #767676;
    font-family: Athelas;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.btn-container {
    display: inline-flex;
    align-items: flex-start;
    gap: 24.513px;
    margin-top: 70px;
}

#header .btn {
    width: 220px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 36.315px;
    font-family: Athelas;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: ease 0.3s;
}

#header .btn:hover {
    cursor: pointer;
}

#header .No1 {
    border: none;
    background: #ff5117;
    color: #FFF;
    transition: ease 0.3s;
}

#header .No1:hover {
    border: 1.816px solid #FE5115;
    background: #FFF;
    color: #FE5115;
}

#header .No2 {
    border: 1.816px solid #FE5115;
    background: #FFF;
    color: #FE5115;
    transition: ease 0.3s;
}

.image1 {
    width: 100%;
    flex-shrink: 0;
}

#service {
    margin-top: 5rem;
    position: relative;
}

#service::after {
    content: '';
    position: absolute;
    top: 15px;
    right: 0;
    width: 25%;
    height: 8px;
    background-color: var(--primary_color);
    border-radius: 8px 0 0 8px;
}

#service::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    aspect-ratio: 3/1;
    background: url('./../img/dots.png') round left top/contain;
    z-index: -1;
}

.service {
    width: 100%;
    /* margin: 3rem 0; */
}

.text {
    display: flex;
    justify-content: center;
}

.text h2 {
    width: 600px;
    color: #000;
    padding: 2rem 0;
    text-align: center;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 65px;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3rem;
    gap: 3rem;

}

.card {
    width: 260px;
    height: 260px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    border-radius: 30px;
    border: 1px solid #FF5C00;
    background: #FFECE1;
    box-shadow: 8px 8px 16px 0px rgba(0, 0, 0, 0.25);


}

.card img {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}

.card h3 {
    color: #000;
    text-align: center;
    /* font-family: Inder; */
    font-size: 23px;
    font-style: normal;
    font-weight: 550;
    line-height: 69.8%;
    /* 22.336px */
}

.card p {
    width: 200px;
    color: #FF8744;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 94.8%;
}

.img-container {
    width: 55px;
    height: 55px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF5C00;
    border-radius: 50%;

}

#teachers-details .text h2 {
    color: #000;
    text-align: center;
    font-family: Athelas;
    font-size: 75px;
    font-style: normal;
    font-weight: 650;
    line-height: normal;
}

#teachers-details .teachers .teacher .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#teachers-details .teachers .teacher .details .teacher-img img {
    width: 90%;
}

#teachers-details .teachers .teacher .details .teacher-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

#teachers-details .teachers .teacher .details p {
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.teachers-details {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    padding: 3rem 0;
    gap: 6rem;
    align-items: center;
    width: 100%;
    background: url("../img/teacherbg.png");
}

#teachers-details .teachers .teacher .teacher-social {
    display: flex;
    justify-content: center;
    gap: 2.2rem;
}

#teachers-details .teachers .teacher .teacher-social a {
    text-decoration: none;
    
}
#teachers-details .teachers .teacher .teacher-social .icons i{
    color: #5f5858;
    font-size: 2.5rem;
    flex-shrink: 0;
    transition: ease 0.3s;
}
#teachers-details .teachers .teacher .teacher-social .icons i:hover {
    color: #000;
}

.teachers {
    display: flex;
    flex-wrap: wrap;
    gap: 6rem;
    justify-content: center;
}

#teachers-details.teachers .teacher img {
    width: 300px;
    height: 300px;
    object-fit: fill;
    border-radius: 40px;
    border: 4px solid #000;
}

#teachers-details .custom-btn button {
    width: 230px;
    height: 65px;
    flex-shrink: 0;
    border-radius: 39px;
    background: #FFA877;
    border: none;
    color: #000;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: ease 0.4s;
}

#teachers-details .custom-btn button:hover {
    background-color: #FF7D33;
    cursor: pointer;
}

.reviews {
    display: flex;
    flex-direction: column;
    padding: 3rem 1rem;
    height: 550px;
}

.reviews h2 {
    width: 100%;
    color: #000;
    text-align: center;
    font-family: Athelas;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 65px;
}

.review {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: .5rem;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid #FF5C00;
    background: #FFECE1;
}

.review p {
    color: #000;
    /* padding: 20px 0; */
    text-align: left;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.reviewer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reviewer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.reviewer span,
h4 {
    display: flex;
    justify-content: flex-start;
    text-align: start;
    padding-left: 10px;

}

.reviewer span {
    color: #000;
    text-align: center;
    font-family: Athelas;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.reviewer img {
    width: 45px;
}

.reviewer h4 {
    color: #575353;
    text-align: center;
    font-family: Athelas;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.star {
    display: flex;
}

/* slider */
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    background-color: var(--primary_color);
}

.swiper-pagination-bullet {
    opacity: .8;
}

.swiper-pagination-bullet-active {
    width: 15px;
    opacity: 1;
    height: 15px;

}

.swiper-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    padding: 2rem 0;
    background: url("../img/Rectangle 39.png");
    object-fit: cover;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
}

.footer-container h2 {
    color: #FEFEFE;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.footer-container a {
    color: #E3E2E2;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 1rem 0;
}


.item {
    padding: 2.5rem 0;
    display: flex;
    flex-direction: column;
}

.adiguru {
    text-align: center;
}

.adiguru img {
    width: 75%;
    height: 65%;
    flex-shrink: 0;

}

.help-container {
    display: flex;
    flex-direction: row;
    width: 500px;
    gap: 4rem;
}
.help-container .txt {
    display: flex;
    flex-direction: column;
}

.icons {
    padding: 0.5rem 0;
    display: flex;
    align-items: center;
}

.icons span {
    padding: 0 1rem;
    color: #E4DDD9;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.icons i {
    font-size: 35px;
    color: #fdf1f1be;
    fill: #fff;
    transition: 0.3s ease;
}

.icon {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.icon i:hover {
    color: #fff;
}

.bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.line {
    background-color: #FFF;
    width: 90%;
    height: 1.2px;
    flex-shrink: 0;
    stroke-width: 1px;
}

.bottom h5 {
    padding: 1rem 0;
    color: #FFF;
    font-family: Noto Sans KR;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.register_btn {
    background-color: var(--primary_color);
    padding: 8px 0 8px 10px;
    text-decoration: none;
    color: white;
    width: 130px;
    clip-path: polygon(100% 0, 100% 100%, 29% 100%, 0 100%, 18% 0);
    display: flex;
    justify-content: center;
}

.section_heading {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    padding: 2rem 0;

}

#region::before {
    content: '';
    position: absolute;
    top: 20px;
    left: 0;
    width: 25%;
    height: 8px;
    background-color: var(--primary_color);
    border-radius: 0 8px 8px 0;
    z-index: -1;
}

#region {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #FFFFFF, #FF5C00);
    display: flex;
    flex-direction: column;
    /* gap: 2rem; */
    position: relative;
}

#region .container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#region .container .box:hover img {
    transform: scale(1.1);
}

#region .container .box {
    min-width: 300px;
    max-width: 350px;
    aspect-ratio: 1/1;
    border-radius: 12px;
    background-color: white;
    padding: .8rem;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .4rem;
    overflow: hidden;
    box-shadow: 5px 5px 20px -15px;
}

#region .container .box .para {
    text-align: center;
}

#region .container .box .title {
    font-size: 1.5rem;

}

#region .container .box img {
    width: 100%;
    transition: .4s;

}

#purpose {
    display: flex;
    gap: 2rem;
    /* height: 70vh; */
    padding: 0 2rem;
    margin: 4rem 0;
}

#purpose .right .title {
    font-size: 2.5rem;
    font-weight: 600;
}

#purpose .right .list li::marker {
    color: #FE5115;
}

#purpose .right .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3rem;
    padding: 0 2rem;
}

#purpose .right {
    flex: 1;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#purpose .left {
    flex: 1;
    aspect-ratio: 6/5;
    position: relative;

}

#purpose .left .img {
    position: absolute;
    width: 50%;
    padding: 1.5rem;
    border: 1px solid #ffab7e;
    border-radius: 50%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#purpose .left .img img {
    width: 100%;
}

#purpose .left .img.img1 {
    left: 0;
    top: 10px;
}

#purpose .left .img.img2 {
    right: 0;
    bottom: 0;
}

#purpose .left .img.img3 {
    left: 52%;
    top: 16%;
    width: 20%;
}

#join {
    display: grid;
    place-items: center;
    margin-bottom: 3rem;
    position: relative;
}

#join::after {
    content: '';
    position: absolute;
    top: 15px;
    right: 0;
    width: 25%;
    height: 8px;
    background-color: var(--primary_color);
    border-radius: 8px 0 0 8px;
}

#join::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 35%;
    aspect-ratio: 3/1;
    background: url('./../img/dots.png') round left top/contain;
    z-index: -1;

}

.numbers {
    margin: 6rem 0;
    width: 100%;
    height: 150px;
    flex-shrink: 0;
    background: linear-gradient(90deg, #FF5C00 0%, rgba(217, 217, 217, 0.00) 46.49%, #FF5C00 97.02%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.num-container {
    display: flex;
    flex-direction: row;
    gap: 6rem;
}

.num-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.num-items h4 {
    color: #000;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.num-items {
    color: #878787;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* blog start here */
#navbar-blog .logo {
    padding: 2.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

#navbar-blog .search_bar {
    height: 55px;
    width: 400px;
    font-size: 24px;
    padding: 0 60px;
}

#navbar-blog .search_box span {
    font-size: 40px;
}

#blog {
    padding: 6rem;

}

#blog h2 {
    color: #000;
    font-size: 80px;
    font-style: normal;
    font-weight: 650;
    line-height: normal;
}

#blog .person {
    margin-top: 7rem;
    display: flex;
    width: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#blog .person-details {
    display: flex;
    align-items: center;
}

#blog .top {
    display: flex;
    flex-direction: row;
    align-items: center;

}

#blog .top p {
    color: #000;
    font-size: 26px;
    font-weight: 600;
    line-height: normal;
}

#blog .top span {
    color: #6F6E6E;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    padding: 4px;
}

#blog .date h5 {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#blog .person-details img {
    width: 100px;
}

#blog .details {
    padding: 0 1rem;
    text-align: start;
}

#blog .share {
    width: 250px;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-evenly;
}

.share span{
    font-size: 50px;
    width: 55px;
    height: 48px;
}
#blog .share a {
    text-decoration: none;
    color: #000;
}

#blog .context .img1 img {
    width: 100%;
}

#blog .context .img1 {
    display: flex;
    justify-content: center;
    padding: 4rem 0;
}


#blog .context .img2 {
    display: flex;
    justify-content: space-between;
    padding: 3rem 0;
    width: 100%;
}

#blog .context .img2 .mid1 {
    width: 57%;
}

#blog .context .img2 .mid2 {
    width: 38%;
}


#blog .comment {
    margin: 4rem 0;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

#blog .comment .name {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#blog .comment .name input {
    width: 47%;
    height: 90px;
    flex-shrink: 0;
    border: 4px solid #000;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 0 20px;
}

#blog .comment textarea {
    width: 100%;
    border: 3px solid #000;
    height: 350px;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 20px;
}


#bottom.bottom-container {
    display: flex;
    flex-direction: column;
    padding: 6rem;
    background-color: #FF9D67;
}

#bottom .person-container {
    display: flex;
    flex-direction: column;
    padding: 0 0 8rem;
}

#bottom .person-container img {
    width: 160px;
    /* height: 193px; */
}

#bottom .person-follow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

#bottom .person-follow p {
    color: #000;
    font-size: 80px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#bottom .person-follow span {
    color: #4D4D4D;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#bottom .person-follow button {
    width: 300px;
    height: 85px;
    flex-shrink: 0;
    border-radius: 58px;
    border: none;
    background: #FF5C00;
    color: #FFF;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#bottom .line {
    width: 100%;
    height: 1px;
    background: #000;
}

#bottom .person-activity {
    display: flex;
    flex-direction: column;
    padding: 4rem 0;

}

#bottom .person-activity h4 {
    color: #000;
    font-family: Petrona;
    font-size: 45px;
    font-style: normal;
    font-weight: 650;
    line-height: normal;
}

#bottom .activities {
    display: flex;
    flex-direction: row;
    padding: 4rem 0;
    gap: 4rem;
}

#bottom .activity .img img {
    width: 100%;
}

#bottom .activity-details {
    display: flex;
    flex-direction: column;
}

#bottom .activity-details h5 {
    color: #000;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 1.7rem 0;
}

#bottom .activity-details .reacts {
    display: flex;
    flex-direction: row;
    gap: 4.5rem;
}

#bottom .activity-details .react {
    display: flex;
    flex-direction: row;
    gap: 0.7rem;
    align-items: center;
}

#bottom .activity-details .react #icon {
    font-size: 50px;
    font-weight: 100;
    color: #000;
}

#bottom .activity-details .react span {
    color: #626262;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#bottom .btn_all button {
    width: 380px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 51px;
    border: 2px solid #000;
    color: #000;
    font-size: 25px;
    font-style: normal;
    font-weight: 650;
    line-height: normal;
    background-color: transparent;
}

/* contact start here  */
#contact .contact-container {
    display: flex;
    justify-content: center;
    padding: 4rem 0;
    position: relative;
}

#contact .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background-image: url('../img/contact_top.png');
    background-size: cover;
    background-repeat: no-repeat;
    /* z-index: 1; */
}

#contact .contact {
    position: relative;
    margin: 8rem 0;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 65%;
    height: 650px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#contact .box {
    width: 70%;
    height: auto;

}

#contact .box1 .sent_msg {
    padding: 4rem 2rem;
}

#contact .box1 .sent_msg input {
    margin: 2rem 0;
}

#contact .sent_msg .contact-details {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
}

#contact .bottom-border-input {
    border: none;
    border-bottom: 3px solid #D9D9D9;
    width: 100%;
    padding: 4px;
    margin-bottom: 20px;
    outline: none;
}

.bottom-border-input::placeholder {
    color: #575454;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#contact .box1 .box1-bottom {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#contact .box1 .box1-bottom button {
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 6.67px;
    background: #FF7D33;
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

#contact .box1 .box1-bottom img {
    width: 60%;
}

#contact .box1 h5 {
    color: #000;
    font-family: Poppins;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 3rem 2rem;
}

#contact .box2 h5 {
    color: #fff;
    font-family: Poppins;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 3rem 2rem;
    padding-right: 0;
}


#contact .box2 {
    background: #FF7D33;
    height: auto;
}

#contact .box2 .box-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#contact .box-top img {
    width: 30%;
    padding: 2rem;

}

#contact .box2 .info-container {
    display: flex;
    height: 60%;
    justify-content: center;
    align-items: center;
}

#contact .box2 .email {
    display: flex;
    justify-items: center;

}

#contact .box2 .email .circle {
    margin: auto;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #FF5C00;
}

#contact .box2 .email .circle span {
    font-size: 60px;
    color: #fff;
}

#contact .box2 .email-container p {
    padding: 1rem 0;
    color: #FFF;
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


/* chandraprakas */
.unica {
    font-family: 'Unica One', cursive !important;
}

.explore_btn {
    color: #EDF3A8;
    cursor: pointer;
    padding: 10px;
    width: 70%;
    background-color: #192915;
    border: none;
    border-radius: 8px;
}

#header.chandraprakas {
    background-color: #EDF3A8;
    /* gap: 2rem; */
    justify-content: space-between;
}

.chand #navbar {
    background-color: #EDF3A8;
}

.chand #navbar .brand {

    color: #192915;
}

.chand #navbar a {
    color: #192915;

}

.register_btn {
    background-color: #192915;
    color: white !important;
}

#header.chandraprakas .col {
    flex: 3;
}

#header.chandraprakas .col.img {
    position: relative;
    flex: 2;
    display: flex;
    align-items: center;
    height: 70%;
}

#header.chandraprakas .image1 {
    height: 100%;
    width: auto !important;
}

#section2 {
    background-color: #31572C;
    padding: 6rem 3rem;
}

#section2 .row {
    display: flex;
    gap: 2rem;
}

#section2 .row .box {
    padding: 1rem 2rem;
    background-color: #3B6835;
    border-radius: 40px;
    display: flex;
    gap: .5rem;
    color: white;
    flex-direction: column;
    justify-content: center;
}

#section2 .row .box .img img {
    width: 100%;
    border-radius: 30px;
}

#section2 .row .box .title {
    font-size: 1.5rem;
    font-family: 'Unica One', cursive !important;
}

#section2 .row .box_sm {
    flex: 2;
}

#section2 .row .box_bg {
    flex: 5;
}

#section2 .row-2 {
    margin-top: 2rem;
}

.chand {
    background-color: #000;
}

#vision {
    padding: 6rem 2rem;
}

#vision .heading {
    color: #EDF3A8;
}

#vision .sub_heading {
    font-family: 'Unica One', cursive !important;
    font-size: 3rem;
    color: white;
}

#vision .feature {
    display: flex;
    padding: 1.5rem;
    justify-content: space-around;
    background-color: #95A8601A;
    margin-top: 2rem;
    border-radius: 20px;
    flex-wrap: wrap;
}

#vision .feature .f {
    flex: 0 0 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

#vision .feature .f .img img {
    width: 50%;
}

#vision .feature .f .img {
    background-color: #95A860;
    border-radius: 50%;
    aspect-ratio: 1/1;
    display: grid;
    place-items: center;
}

#vision .feature .f .title {
    color: white;
    font-family: 'Unica One', cursive !important;
    font-size: 1.2rem;
    text-align: center;
}

#vision .line {
    background-color: #95A8601A;
    width: 98%;
    height: 20px;
    margin: 4rem auto;
    border-radius: 25px;
}

.teacher .swiper-pagination {
    position: static;
    margin-top: 2rem;
}

.teacher .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.teacher .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    background-color: #95A860;
}

.teacher .swiper-slide .img img {
    width: 80%;
}

.teacher .swiper-slide {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    color: #EDF3A8;
}

.teacher .swiper-slide .tag {
    display: flex;
    gap: .5rem;
    align-items: center;
    color: #95A860;
}

.teacher .swiper-slide i {
    color: #95A860;
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    display: grid;
    place-items: center;
}
.teacher .swiper-slide a{
    text-decoration: none;
}
#knowledge {
    width: 100%;
    aspect-ratio: 15/6;
    background: url(./../img/leafe_bg.png) no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#knowledge .title {
    color: white;
    font-size: 4rem;
    font-family: 'Unica One', cursive !important;
    max-width: 600px;
    text-align: center;
}

#knowledge .title .line {
    display: inline-block;
    width: 10px;
    height: 44px;
    border-radius: 25px;
    background-color: #95A860;
}

#mission {
    background: url('./../img/circles.png') no-repeat -230% 30%/80%;
}

#mission .courses {
    max-width: 800px;
    width: 70%;
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#mission .courses .course .title {
    font-family: 'Unica One', cursive !important;
    font-size: 1.7rem;
}

#mission .courses .course .course_number {
    font-size: .8rem;
}

#mission .courses .course .right {
    font-size: 3rem;
}

#mission .courses .course .left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#mission .courses .course img {
    width: 6vw;
}

#mission .courses .course {
    padding: 1rem;
    text-decoration: none;
    border-radius: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #95A86080;
}

#mission .mission_slider {
    max-width: 800px;
    width: 70%;
    margin: 4rem auto;
}

#mission .swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
#mission .swiper-pagination-custom,
.swiper-pagination-fraction {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.mission_slider .swiper-slide .title .white {
    color: white;
}

.mission_slider .swiper-slide .title .yellow {
    color: #EDF3A8;
}

.mission_slider .swiper-slide .title .red {
    color: #FB4B4B;
}

.mission_slider .swiper-slide .para {
    max-width: 600px;
    width: 90%;
}

.mission_slider .swiper-slide .title {
    font-size: 3rem;
}

.mission_slider .swiper-slide {
    background-color: transparent;
    color: white;
    flex-direction: column;
    gap: 2rem;
}

.mission_reviews {
    flex-wrap: wrap;
    flex-direction: row;
    height: auto;
    gap: 2rem;
}

.mission_reviews .para {
    color: #EDF3A8;
}

.mission_reviews .review {
    flex: 1 0 350px;
    gap: 3rem;
    background-color: #0D0D0D;
    border: none;
    color: #EDF3A8;
}

.chand .numbers {
    background: linear-gradient(to right, #95A8601A, #95A86000, #95A8601A);
}

.chand .numbers .num-container p {
    color: #95A860;
}

.chand .numbers .num-items h4 {
    color: #EDF3A8;
}

#join_us {
    max-width: 500px;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    align-items: center;
}

#join_us .para {
    color: #EDF3A8;
}

#join_us .heading {
    font-size: 3rem;
    font-family: 'Unica One', cursive !important;
    color: white;
}

#join_us .join_us_btn {
    background-color: #EDF3A8;
    text-decoration: none;
    color: black;
    padding: 12px;
    width: 120px;

}

.chand_footer {
    background: url('./../img/footer_bg_chand.svg') no-repeat center center/cover !important;
}

/* blogs start here */

#blogs-top .top-container {
    display: flex;
    flex-direction: column;
    background: #FF6A36;
    padding: 2rem 3rem;
    padding-left: 4rem;
    padding-bottom: 1rem;
}

#blogs-top .top-container .upper {
    display: flex;
    justify-content: end;
    height: 200px;
}

#blogs-top .top-container .upper button {
    width: 210px;
    height: 60px;
    border: none;
    flex-shrink: 0;
    border-radius: 36.315px;
    background: #FFF;
    color: #000;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

#blogs-top .top-container .adiguru-blogs {
    display: flex;
    flex-direction: column;
}

#blogs-top .top-container .adiguru-blogs .bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#blogs-top .top-container .adiguru-blogs .top h2 {
    color: #FFF;
    font-family: Poppins;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#blogs-top .top-container .adiguru-blogs .bottom .list ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 3rem;
}

#blogs-top .top-container .adiguru-blogs .bottom .list a {
    color: #E7C4C4;
    text-decoration: none;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#blogs-top .top-container .adiguru-blogs .bottom .social-icons {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

#blogs-top .top-container .adiguru-blogs .bottom .social-icons a {
    font-size: 35px;
    color: #fff;
    text-decoration: none;
}

#blogs-container .blogs-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}

#blogs-container .cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;


}

#blogs-container .container1 {
    width: 40%;
    padding-right: 3rem;
}

#blogs-container .container2 {
    width: 60%;
    padding-left: 3rem;
}

#blogs-container .cont .blogs .blog img {
    width: 100%;

}

#blogs-container .container1 .stories {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../img/blogs-left-texture.png'), lightgray 50% / cover no-repeat;
}

#blogs-container .container1 .stories .text {
    background: #FFF;
    width: 85%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#blogs-container .container1 .stories .text img {
    width: 80%;
}

#blogs-container .cont .blogs {
    margin: 2rem 0;
}

#blogs-container .cont .blogs .blog {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem 0;

}

#blogs-container .cont .blogs .blog h3 {
    color: #000;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#blogs-container .cont .blogs .blog p {
    color: #000;
    font-family: Petrona;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#blogs-container .cont .blogs .blog button {
    width: 180px;
    height: 45px;
    border: none;
    flex-shrink: 0;
    background: #e27651;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: ease 0.3s;
}

#blogs-container .cont .blogs .blog button:hover {
    background: #ff6208;
}

#explore .explore-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 4rem;
}

#explore .explore-container h3 {
    color: #000;
    font-family: Poppins;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#explore .explore-container .adiguru-text {
    background: #FF5C00;
}

#explore .explore-container .adiguru-text img {
    width: 100%;
    padding: 2rem 4rem;
}

#explore .explore-container .more-blogs-container {
    display: flex;
    flex-direction: column;
}

#explore .explore-container .more-blogs-container a {
    text-decoration: none;
}

#explore .explore-container .more-blogs-container .more-blogs {
    display: flex;
    flex-direction: row;
    padding: 3rem 1rem;
}

#explore .explore-container .more-blogs-container .more-blogs img {
    width: 39%;
    height: 90%;
}

#explore .explore-container .more-blogs-container .more-blogs span {
    color: #444;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#explore .more-blogs-container .more-blogs .text-container {
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#explore .more-blogs-container .more-blogs .text-container h5 {
    color: #000;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

#explore .more-blogs-container .more-blogs .text-container p {
    color: #000;
    font-family: Petrona;
    font-size: 20px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
}

#explore .more-blogs-container .more-blogs .text-container .post-details {
    display: flex;
}

#explore .more-blogs .text-container .post-details .staff-dp {
    width: 12%;
}

#explore .more-blogs .text-container .post-details .staff-dp img {
    width: 100%;
}

#explore .post-details .staff-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    padding: 0 1rem;
}

#explore .post-details .staff-text h6 {
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#blogs-bottom .blogs-bottom {
    width: 100%;
    height: 110px;
    flex-shrink: 0;
    border: 1px solid #000;
    background: #FE5115;
    display: flex;
    align-items: center;
    justify-content: center;
}

#blogs-bottom .blogs-bottom h5 {
    color: #FFF;
    font-family: Petrona;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

/* dhyutidhara */

.dhyu #navbar {
    position: absolute;
    top: 0;
    left: 0;
}

.dhyu #navbar .brand {
    color: #9A3B3B;
}

.dhyu .register_btn {
    background-color: #9A3B3B;
}

.dhyu #header {
    aspect-ratio: 16/8;
    padding: 6rem 0;
    background: url('./../img/dhyu_bg.png') no-repeat center center/cover;
}

.dhyu #header .content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    align-items: center;
    padding: 2rem;
}

.dhyu #header .content .dhyutidhara {
    font-size: 7vw;
    color: #C08261;
    /* -webkit-text-stroke-width: 9px; */
    font-weight: bold;
    letter-spacing: 18px;
}

.dhyu #header .content .dhyutidhara .dhy {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #C08261;
}

.dhyu #header .content .dhyutidhara .ara {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #C08261;

}

.dhyu #header .content .slogan {
    font-size: 4rem;
    font-weight: 500;
    text-align: center;
    max-width: 1100px;
}

.dhyu #header .content .slogan .white {
    color: white !important;
}

.dhyu #header .content .quote {
    display: flex;
    gap: 1rem;
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.233);
    color: white;
    padding: 15px;
    font-weight: 600;
    letter-spacing: 2px;
    border-radius: 12px;

}

#community {
    padding: 5rem 4rem;
    display: flex;
    gap: 6vw;
    background-color: #9A3B3B;
    height: 70vh;
}
#community .boxes{
    flex: 1;
}
#community .details{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    line-height: 1.5;
    color: white;
}

.dhyu_footer {
    background: url('./../img/dhyu_footer_bg.png');
}
#quotes{
    background-color: #C08261;
    
}
#quotes .text{
    padding: 3rem 5rem;
    text-align: center;
    font-size: 3rem;
    text-shadow: 2px 2px 5px rgb(34, 34, 34);
    font-family: 'Marko One', serif;
    color: white;
}
#peoples{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #E2C799;
}
.custom-shape-divider-top-1694927748 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1694927748 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 120px;
}

.custom-shape-divider-top-1694927748 .shape-fill {
    fill:#C08261;
}
#quotes{
    background-color: #C08261;
    
}
#quotes .text{
    padding: 3rem 5rem;
    text-align: center;
    font-size: 3rem;
    text-shadow: 2px 2px 5px rgb(34, 34, 34);
    font-family: 'Marko One', serif;
    color: white;
}
#peoples{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #E2C799;
}
.custom-shape-divider-top-1694927748 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1694927748 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 120px;
}

.custom-shape-divider-top-1694927748 .shape-fill {
    fill:#C08261;
}